body{
    font-size: 12px;
    background: #0f476a;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.logo,.mobile-logo,.site-description,.nav-item-1,.nav-item-2{
    display: none;
}
.mCustomScrollbar{
    position: fixed;
    background: #146191;
    padding: 0;
    left: 50%;
    bottom: -5px;
    margin-left: -650px;
    width: 100px;
    overflow: hidden;
    border-bottom: #1196c2 solid 5px;
    border-top: #1196c2 solid 5px;
}
.mCustomScrollbar li{
    float: left;
    list-style: none;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
    width: 100px;
    text-align: center;
    border-bottom: #0f74a8 solid 1px;
}
.mCustomScrollbarr{
    position: fixed;
    background: #146191;
    padding: 0;
    left: 50%;
    bottom: -5px;
    margin-left: 550px;
    width: 100px;
    overflow: hidden;
    border-bottom: #1196c2 solid 5px;
    border-top: #1196c2 solid 5px;
    float: right;
}
.mCustomScrollbarr li{
    float: left;
    list-style: none;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
    width: 100px;
    text-align: center;
    border-bottom: #0f74a8 solid 1px;
}
a:link, a:visited{
    color: #fff;
    text-decoration: none;
}
.siteLink{
    text-align: center;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    background: #00A6C7;
    border-bottom: #218aa7 solid 1px;
    border-right: #218aa7 solid 1px;
}
.siteLink:hover{
	background-color: #111!important;
	font-size: normal!important;
}
.nav-left{
    clear: both;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}
.selected-nav-cn a{
    background: #2da6c7;
    height: 60px;
    line-height: 60px;
    padding: 8px 25px;
    border-radius: 10px;
}
.linkinfo .thumb img{
    width: 100%;
    height: 68px;
    padding: 0;
    margin: 0;
    border: 0;
}
.panel{
    padding-top: 10px;
}
.row{
    clear: both;
}
.panel-body{
    clear: both;
    background: #0f74a8;
    border-bottom: #0e6fa1 solid 10px;
	border-radius: 0 0 5px 8px;
  


}
.panel-title{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background: #0d6fa1;
    color: #fff;
    margin-top: 8px;
    clear: both;
    border-radius: 8px 8px 0 0;
	border-top: #0c587f solid 0px;
}

.RefSiteList{
    padding: 15px;
    line-height: 25px;
}
.RefSiteList a div{
    float: left;
    margin-right: 15px;
    width: 160px;
    border-bottom: #149adf solid 3px;
    border-top: #149adf solid 3px;
    text-align: center;
    border-radius:3px;
    margin-top: 5px;
	background: #1289c7;
}
.foot{
        width: 100%;
        text-align: center;
        padding: 15px 0;
        color: #eee;
        font-size: small;
        margin-top: 40px;
    }
.adsen {
    text-align: center;
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}
/*<font face="arial" color="#FF0000"></font>红
<font face="arial" color="#FFFF00"></font>黄
<font face="arial" color="#0000FF"></font>蓝
<font face="arial" color="#00FF00"></font>绿
<font face="arial" color="#000000"></font>黑
<font face="arial" color="#FF00FF"></font>紫
<font face="arial" color="#FF66FF"></font>粉红
#e04f6b
#e09d7f
#96be36
<font face="arial" color="#00FFCC"></font>红
<font face="arial" color="#FFCCFF"></font>蓝
<font face="arial" color="#CC66CC"></font>绿
<font face="arial" color="#3399FF"></font>黑
<font face="arial" color="#33FFFF"></font>紫
<font face="arial" color="#FF6600"></font>粉红
*/
.c1 {
    background: #FF6633;
    font-weight: bold;
    border-bottom: #7a2b3a solid 1px;
    border-right: #7a2b3a solid 1px;
}
.c2 {
    background: #000000;
    font-weight: bold;
    border-bottom: #8c5740 solid 1px;
    border-right: #8c5740 solid 1px;
}
.c3 {
    background:yellowgreen;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*红*/
.c01 {
    background: #FF0000;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*蓝*/
.c02 {
    background: #0000FF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*绿*/
.c03 {
    background: #00FF00;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*紫*/
.c04 {
    background: #FF00FF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*黑*/
.c05 {
    background: #000000;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
/*粉红*/
.c06 {
    background: #FF66FF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}

.c07 {
    background: #00FFCC;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
.c08 {
    background: #FFCCFF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
.c09 {
    background: #CC66CC;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
.c10 {
    background: #3399FF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
.c11 {
    background: #FF00FF;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}
.c12 {
    background: #FF6600;
    font-weight: bold;
    border-bottom: #6f8d29 solid 1px;
    border-right: #6f8d29 solid 1px;
}

.clear{
    clear: both;
}
.adsenp{
    padding-bottom: 10px;
}
	.photo-one{
		display: flex;
		flex-wrap: wrap;
		background-color: #00A6C7;
		border-radius: 0px 0px 8px 8px;
		padding-bottom: 10px;
		width: 100%;
		height: 100%;
		
	}
	.photo-two{
		display: inline-block;
		  display: block;
		  height: 85px;
		  margin: 7px;	
		  text-align: center;
	}
	.photo-two a{
        text-decoration:none;
	}
	.photo-two img{
		border-radius: 15%;
		height: 70px;
		width: 70px;
	}
    .photo-name{
        float: center;
        font-size: large;
        font-weight: bold;
		color: #fff;
	    font-size: small;
    }
	audio {
		margin-top: 10px;
		height: 30px;
		width: 100%;
	}
@media  (min-width:900px) {

    .siteLink{

    }
    .linkinfo{
		width: 11%;
		margin-left: 1px;
		margin-top: 1px;
    }
    .main{
        margin: 0 auto;
        width: 90%;
    }
    .adsen{
        height: 75px;
    }
}
@media  (max-width:900px) {
    .siteLink{

    }
    .linkinfo{
        width: 33.33%;
    }
    .mCustomScrollbar{
        display: none;
    }
    .nav-left{
        margin-top: 0;
    }
    .adsen{
        width: 100%;
        height: 75px;
    }
}




/*横幅并排*/

 .flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
.flex-column {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}


#propagandaInsert {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 16px;
	display: none;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	overflow: hidden
}
#propagandaInsert .link {
	vertical-align: top;
	width: 50%;
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
} 
@media screen and (max-width: 640px) {
#propagandaInsert .link {
	width: 100%;
	height: 32px
}
}
#propagandaInsert .link .img {
	width: 100%;
	height: 100%
}
#propagandaInsert .connect {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0;
	-moz-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	text-align: center;
	line-height: 40px;
	background: #ffc0b6;
	color: #ee3b21;
	font-size: 24px;
	border: 2px #fff solid
}
@media screen and (max-width: 1080px) {
#propagandaInsert .connect {
	font-size: 16px
}
}
@media screen and (max-width: 640px) {
#propagandaInsert .connect {
	line-height: 24px
}
}
#propagandaLeft, #propagandaRight {
	display: none;
	width: 140px;
	box-sizing: border-box
}
@media screen and (max-width: 640px) {
#propagandaLeft, #propagandaRight {
	width: 20%
}
#propagandaLeft .link, #propagandaRight .link {
	max-height: 30%
}
}
#propagandaLeft .link, #propagandaRight .link {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 8px
}
#propagandaLeft .img_wapper, #propagandaRight .img_wapper {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 50%;
	-moz-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	overflow: hidden
}
#propagandaLeft .img_wapper .img, #propagandaRight .img_wapper .img {
	display: block;
	width: 100%;
	height: auto
}
#propagandaLeft .close, #propagandaRight .close {
	display: block;
	text-align: center;
	background: #fff;
	line-height: 2;
	z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
	color: #ee3a20;
	border: 1px solid #ee3a20;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	font-size: 14px
}
@media screen and (max-width: 340px) {
#propagandaLeft .close, #propagandaRight .close {
	font-size: 12px
}
}
#propagandaLeft {
	position: fixed;
	top: 0;
	left: 160px;
	padding: 16px 0 16px 16px
}
@media screen and (max-width: 840px) {
#propagandaLeft {
	top: 0;
	left: 0;
	margin-top: 76px;
	padding: 12px 0 12px 12px
}
}
@media screen and (max-width: 420px) {
#propagandaLeft {
	padding: 8px 0 8px 8px
}
}
#propagandaRight {
	position: fixed;
	top: 0;
	right: 0;
	padding: 16px 16px 16px 0
}
@media screen and (max-width: 840px) {
#propagandaRight {
	top: 0;
	right: 0;
	margin-top: 76px;
	padding: 12px 12px 12px 0
}
}
@media screen and (max-width: 420px) {
#propagandaRight {
	padding: 8px 8px 8px 0
}
}
#propagandaBottom {
	position: fixed;
	display: none;
	left: 160px;
	bottom: 0;
	right: 0;
	z-index: 2;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px;
	background: #fff;
	-webkit-box-shadow: 0 0 2px 0 #ee3a20;
	-moz-box-shadow: 0 0 2px 0 #ee3a20;
	box-shadow: 0 0 2px 0 #ee3a20
}
@media screen and (max-width: 840px) {
#propagandaBottom {
	left: 0
}
}
@media screen and (max-width: 640px) {
#propagandaBottom {
	padding: 2px 4px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
.photo-two{
	display: inline-block;
	  display: block;
	  height: 85px;
	  margin: 6px;	
	  text-align: center;
}
}
#propagandaBottom .link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 48px;
	width: 50%
}
@media screen and (max-width: 640px) {
#propagandaBottom .link {
	height: 32px;
	width: 100%;
	margin: 2px 0
}
}
#propagandaBottom .link .img_wapper {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0;
	-moz-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	height: 100%
}
#propagandaBottom .link .img_wapper .img {
	width: 100%;
	height: 100%
}
#propagandaBottom .close {
	display: block;
	width: 14px;
	padding: 0 12px;
	line-height: 1;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #ed3920;
	cursor: pointer
}
@media screen and (max-width: 640px) {
#propagandaBottom .close {
	width: auto;
	padding: 8px;
	background: rgba(255,255,255,0.9);
	bottom: 4px;
	z-index: 2;
	right: 4px;
	position: absolute;
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0
}
}

.menu .qrcode .link {
	display: block;
	text-align: center;
	color: #ffe000;
	font-size: 12px;
	padding-top: 8px
}


.menu .nav .link {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	padding: 12px 16px;
	border-top: rgba(0,0,0,0.1) 1px solid
}

.menu .nav .link.active {
	background: #ec361e
}
.menu .nav .link:hover {
	text-shadow: 0 0 2px #fff2f1
}

.menu .nav .sub_nav .link {
	border-top: none;
	font-size: 12px;
	padding: 8px 20px
}
.menu .nav .sub_nav .link:before {
	content: '-';
	padding-right: 4px;
	opacity: 0.5
}

.pagenote .link {
	padding: 4px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 1
}
.pagenote .link:hover {
	color: #f34a29
}
.pagenote .link.active {
	background: #f34a29 !important;
	color: #fff;
	padding: 4px 8px;
	margin: 0 4px
}

.main.left_spare #propagandaLeft {
	display: block
}
@media screen and (max-width: 640px) {
.main.left_spare #propagandaInsert {
	margin-left: -26.5%
}
}

.main.right_spare #propagandaRight {
	display: block
}
@media screen and (max-width: 640px) {
.main.right_spare #propagandaInsert {
	margin-right: -26.5%
}
}
.main.has_filter #propagandaInsert, .main.has_caster #propagandaInsert {
	margin-bottom: 0
}
@media screen and (min-width: 840px) {
.main.has_filter #propagandaInsert, .main.has_caster #propagandaInsert {
	margin-top: 16px
}
}
.main.nav_fixed.has_filter #propagandaLeft, .main.nav_fixed.has_filter #propagandaRight {
	top: 46px
}
@media screen and (max-width: 840px) {
.main.nav_fixed.has_filter #propagandaLeft, .main.nav_fixed.has_filter #propagandaRight {
	top: 38px
}
}
.main.nav_fixed.has_caster #propagandaLeft, .main.nav_fixed.has_caster #propagandaRight {
	top: 36px
}
@media screen and (max-width: 840px) {
.main.nav_fixed.has_caster #propagandaLeft, .main.nav_fixed.has_caster #propagandaRight {
	top: 34px
}
}

.title {
	font-size: 125%;
}
.adsen {
	width: 100%;
}
@media (max-width: 900px) {
.adsen {
	width: 100%;
	height: 75px;
}
}
@media (min-width: 900px) {
.adsen {
	height: 100% !important;
	width: 100%;
}
}
.main {
	margin: 0 auto;
	width: 95%;
}
 @media (min-width: 900px) {
.main {
	margin: 0 auto;
	width: 1080px;
}
}
.nav-left {
	clear: both;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: left;
}
.nav-right {
	clear: both;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: right;
	float: right;
}
.div-inline {
	display: inline
}
.zdsll{
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px; 
        font-weight: bold;
        float: bottom;
        font-size: 14px!important;
        vertical-align: text-bottom;
        background-color: #2da6c7;
	}
	.zdsl {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    float: right;
    font-size: 14px!important;
    vertical-align: text-bottom;
	background-color: #2da6c7;
	margin-top: 19px;
}
.linkinfo{
    float: left;
}
.stitle {
	font-size: 45px;
	display: inline-block;
	margin-top: 20px;
}
h3 {
	font-size: 20px;
}
.sspan {
	 color:yellow;
	 float: right;
	 padding-right: 10px;
}
.ssspan {
	 color:yellow;
	 float: left;
	 padding-left: 10px;
}
.ssiteLink{
	font-size: 15px;
	font-style: bold;
    text-align: left;
    height: auto;
    overflow: hidden;
    background: #00A6C7;
    border-bottom: #218aa7 solid 1px;
    border-right: #218aa7 solid 1px;
    padding: 20px 0px 20px 10px;
}

.wvshow, .wvshow img{
        max-width: 100%;
}
 .guanggao{
            margin: 0; 
            padding: 0;
            width: 100%;
            z-index: 9999;
            border: none;
        }
        .tupian{
            width: 100%;
            max-width: 100%;
            height: 100%;
            min-height: 50px;
        }
.margina{
	margin-top: 20px;
}
.gonggao {
    background-color: rgba(0, 0, 0, 0.37);
    border-top: 0px solid #111;
    height: 100%;
    width: 100%;
    float: certer;
    font: 14px/36px Tahoma,'Microsoft Yahei',Simsun;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    ul {
	list-style: none;
    margin: 10px 10px 0px 10px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
	background: 0 0;
	width: 100%;
	height: 100%;
}